@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

:root {
  /* Color Variables */
  --primary: #b9ff66;
  --secondary: #191a23;
  --grey: #f3f3f3;
  --black: #000;
  --white: #fff;

  /* Shadow Card */
  --shadow-card: 0 5px 0 0 var(--secondary);

  /* Border Radius */
  --border-radius: 45px;

  /* Font Family */
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

/* Theme Styles */
@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-grey: var(--grey);
  --color-black: var(--black);
  --color-white: var(--white);
  --shadow-card: var(--shadow-card);
  --radius-primary: var(--border-radius);
  --font-space-grotesk: var(--font-space-grotesk);
}

@layer base {
  * {
    @apply font-space-grotesk;
  }
  body {
    @apply selection:bg-primary bg-white text-base font-normal text-black selection:text-black lg:text-lg;
  }
  img {
    @apply pointer-events-none block h-full w-full object-cover;
  }
  svg,
  img {
    @apply pointer-events-none select-none;
  }

  span {
    @apply text-primary;
  }

  section {
    @apply py-12 lg:py-16;
  }
  footer {
    @apply pt-12 lg:pt-16;
  }

  input,
  textarea {
    @apply focus:outline-secondary ring-0 outline outline-transparent transition-all duration-300;
  }

  .container {
    @apply mx-auto !max-w-[1282px] px-6 lg:!max-w-[1298px] lg:px-8;
  }

  /* Typography */
  h1 {
    @apply text-[43px] font-medium lg:text-6xl;
  }
  h2 {
    @apply text-4xl font-medium lg:text-[40px];
  }
  h3 {
    @apply text-[26px] leading-[1.4] font-medium lg:text-3xl;
  }
  h4 {
    @apply text-lg font-medium lg:text-xl;
  }
  p {
    @apply text-base lg:text-lg;
  }
}

.fading-scroll {
  background: linear-gradient(
    to right,
    var(--white) 0%,
    transparent 10%,
    transparent 90%,
    var(--white) 100%
  );
}

/* Custom Swiper Navigation Styles */
.custom-swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* Custom Swiper Pagination Styles */
.custom-swiper-bullet {
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--white);
}

.custom-swiper-bullet:hover {
  opacity: 0.8;
}

.custom-swiper-bullet svg {
  width: 14px;
  height: 14px;
  transition: all 0.3s ease;
}

.custom-swiper-bullet-active {
  color: var(--primary);
  opacity: 1;
}

/* Profile Card Image Mask */
.profile-card-image-mask {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='98' height='98' viewBox='0 0 98 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M83.8068 48.9117C116.649 86.3213 86.3213 116.649 48.9117 83.8068C11.5021 116.649 -18.8258 86.3213 14.0166 48.9117C-18.8258 11.5021 11.5021 -18.8258 48.9117 14.0166C86.3213 -18.8258 116.649 11.5021 83.8068 48.9117V48.9117Z' fill='black'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg width='98' height='98' viewBox='0 0 98 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M83.8068 48.9117C116.649 86.3213 86.3213 116.649 48.9117 83.8068C11.5021 116.649 -18.8258 86.3213 14.0166 48.9117C-18.8258 11.5021 11.5021 -18.8258 48.9117 14.0166C86.3213 -18.8258 116.649 11.5021 83.8068 48.9117V48.9117Z' fill='black'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
